<h1> About me </h1>
<br><br>

<h2>What is jisha9?</h2><br><br>

Jisha9 is a jsiha simulator work as web-applications in Ruby.<br><br>


It depans on :<br>
<li>ruby 1.9.2</li>
<li>drb : distribute ruby </li>
<li>sinatra : web-applications framework</li>
<li></li><br>

The simplest way to install Sinatra is through Rubygems:<br><br>

$ gem install sinatra<br><br>

<p>
