<h2>Add a jisha. </h2>
<br><br>

<form action="/jisha/new" method="POST" >
<table width='360px'>
 <tr>
 <td width="15%"> <h3>Jisha Code</h3> </td>
 <td width="10%"> <h3>Port </h3> </td>
 <td width="25%"> <h3>Receiver only?</h3> </td>
 </tr>

 <tr>
 <td><input name="jisha_code" type="text" size="25" value=""> </td>
 <td><input name="port" type="text" size="20" value=""> </td>
 <td><cernter><input name="option" type="checkbox" size="10" value="receiver_only"></cernter> </td>
 </tr>

 <tr>
 <td><input type="submit" value="Add Jisha"> </td>

 <td></td>
 </tr>
</table>

</form><br><br>



