<h2>Journal </h2>
<div id="jnl_search">
<h3>Journal Search</h3>
<form action='/jisha/jnl/search' method="POST" >
<table width='360px'>
 <tr>
 <td width="20%"> <h3>Jisha Code</h3> </td>
 <td width="20%"> <h3>MSG Type </h3> </td>
 <td width="20%"> <h3>From</h3> </td>
 <td width="20%"> <h3>To</h3> </td>
 
 </tr>
 <div id="search_condition">
 <tr>
 <td> <input name="jisha_code" type="text" size="15" value=""> </td>
 <td> <input name="msg_type" type="text" size="15" value=""> </td>
 <td> <input name="time_from" type="text" size="18" value=""> </td>
 <td> <input name="time_to" type="text" size="18" value=""> </td>
 
 </tr>
 </div>
 <tr>
 <td > <input type="submit" value="Add search condition"> </td>
 </tr>
  <tr>
 <td > <input type="submit" value="Search"> </td>
 </tr>
</table>
</form><br><br>

<div id="jnl_search_resault">
jnl ......<br>
jnl ......<br>
jnl ......<br>
<br>
<br>
</div>
</div>

<a href="/jisha/rtlog">Jisha realtime log</a> | <a href="/jisha/list">back to jisha List</a> 
<br><br><br>


