<h2>Realtime log </h2>
<br><br>

<div id="realtime_log">
 <div id="a_rt_log" >
 <h3>Realtime Log</h3>
 reltimelog by ajax(jquery) ......<br>
 reltimelog ......<br>
 reltimelog ......<br>
 reltimelog ......<br>
 reltimelog ......<br>
 reltimelog ......<br>
 <br><br><br>
 </div>
 <form action='/jisha/rt_log/add' method="POST" >
 <table width='360px'>
 <tr>
 <td width="15%"> <h3>Jisha Code</h3> </td>
 </tr>

 <tr>
 <td> <input name="jisha_code" type="text" size="15" value=""> </td>
 </tr>

 <tr>
 <td > <input type="submit" value="Add"> </td>
 </tr>
 </table>
 </form>
 <br>
</div>

<a href="/jisha/jnl">Jnl Search</a> | <a href="/jisha/list">back to jisha List</a> 
<br><br><br>

