<h2>Send Config</h2><br>

 
<form action='/jisha/rtlog'>
<li>Gyoumu(caf online/extension-define)</li>
<li>Telegram input setting(must/extension/full)</li>
<li>Telegram send(telegram single/batch/sequence/random)</li>
<li></li>
<li>Telegram reply(all/part)</li>
<li></li>
<li></li>
<li></li>

<input type="submit" value="Start">
</form>

<div id="realtime_log">
 <div id="a_rt_log" >
 <h3>Realtime Log</h3>
 reltimelog by ajax(jquery) ......<br>
 reltimelog ......<br>
 reltimelog ......<br>
 reltimelog ......<br>
 reltimelog ......<br>
 reltimelog ......<br>
 <br><br><br>
 </div>
 <form action='/jisha/rt_log/add' method="POST" >
 <table width='360px'>
 <tr>
 <td width="15%"> <h3>Jisha Code</h3> </td>
 </tr>

 <tr>
 <td> <input name="jisha_code" type="text" size="15" value=""> </td>
 </tr>

 <tr>
 <td > <input type="submit" value="Add"> </td>
 </tr>
 </table>
 </form>
 <br>
</div>

<div id="">
 <table>
 <tr>
 <td>send</td> 
 <td>receive</tr>
 </tr>
 <div id="telegram">
 <tr>
 <td>telegram send</td> 
 <td>telegram receive</tr>
 </tr>
 </div>
 <tr>
 <td><input type="submit" value="Parse"></td> 

 </tr>
 <table>
 
 
</div>

<br>



